{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true,
    "fetch": true,
    "document": true,
    "window": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 1,
    "linebreak-style": 0,
    "no-console": 1,
    "no-use-before-define": 0,
    "no-plusplus": 1,
    "max-len": 1,
    "indent": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, {"ignorePureComponents": true}],
    "react/prop-types": [1, {}],
    "react/jsx-boolean-value": 0,
    "no-shadow": 1,
    "react/sort-comp": 0,
    "jsx-a11y/no-noninteractive-element-interactions": [0, {}],
    "jsx-a11y/no-static-element-interactions": [0,{}],
    "no-confusing-arrow": ["warn", {"allowParens": true}],
    "no-underscore-dangle": ["error", {"allow": ["_bodyText", "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"]}],
    "object-curly-newline": [0, { "multiline": true }],
    "function-paren-newline": [0, "never"],
    "react/jsx-curly-brace-presence": 0,
    "jsx-a11y/click-events-have-key-events": [0],
    "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": false}]
  }
}
