.detail {
    display: grid;
    gap: 5px;
    font-size: 1rem;
}

.detailInfo {
    display: flex;
    gap: 5px;
}

@media only screen and (min-width: 996px) {
    .detail {
        display: flex;
        width: calc(100% - 100px);
        gap: 10px;
    }
}