body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

input {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: auto;
}

input.disabled {
  background-color: lightgray;
  color: gray;
}

button {
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
  font-size: 20px;
}

button.disabled {
  background-color: #aaa;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.incorrect {
  color: red;
  border: 1px red solid;
}

@media only screen and (max-width: 996px) {
  .center-mobile {
    text-align: center;
  }

  .hidden-mobile {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555753;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00C4CC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00969b;
}
