.grid-container {
  display: grid;
  grid-template-areas:
    "menu   header  header  header  header  header  header"
    "menu   main    main    main    main    main    main"
    "left   main    main    main    main    main    main";
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

.menu {
  grid-area: menu;
  padding: 100px;
}

.header {
  font-size: 4rem;
  grid-area: header;
  padding-left: 10% !important;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.left {
  grid-area: left;
}

.main {
  grid-area: main;
}

.container {
  padding: 0 50px;
}
