.logout {
    background: none;
    color: #555753;
    cursor: pointer;
    font-size: 10px;
    position: fixed;
    right: 3rem;
    top: 2rem;
}

.logout:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 800px) {
    .logout {
        right: 6rem;
        top: 3rem;
    }
}